.grid {
  width: 400px;
  height: 600px;
  background-color: lightskyblue;
  position: relative;
}

.bug {
  width: 60px;
  height: 85px;
  background-color: blueviolet;
  position: absolute;
}

.branch {
  width: 85px;
  height: 15px;
  background-color: greenyellow;
  position: absolute;
}